html {
	scroll-behavior: smooth;
}

.header {
	display: flex;
	flex-direction: row;
	padding: 50px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.header_buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header_titles {
	margin-left: 40px;
	font-weight: bold;
	font-size: large;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.header_titles:hover {
	color: #2aa7df;
}

.logo {
	width: 200px;
}

.header_button {
	margin-left: 20px;
	padding: 9px 50px;
	border: 1px solid;
	border-color: #2aa7df;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	background-color: white;
	color: #2aa7df;
	font-weight: bold;
}

.header_button:hover {
	background-color: #2aa7df;
	color: white;
}

.header_button:focus {
	outline: 0;
}

@media (max-width: 300px){

	.header{
		margin-left: 10rem;
		padding: 15px;
	}
	.header_buttons{
		padding: 5px;
	}

	.header_titles{
		padding: 5px;
		margin-left: 0;
	}

	.header_button {
		margin-top: 5px;
	}
}