.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../assets/Backgrounds/Bg_Footer.png');
}

.footer_button {
	padding: 12px 50px;
	border: 1px solid;
	border-color: #2aa7df;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	background-color: #2aa7df;
	color: white;
	font-size: large;
}

.footer_button:hover {
	background-color: white;
	color: #2aa7df;
}

.footer_button:focus {
	outline: 0;
}

.footer_logo {
	margin-top: 70px;
}

.blue_text {
	color: #2aa7df;
	white-space: nowrap;
}

@media (max-width: 350px) {
	.footer {
		margin-left: 10rem;
		text-align: center;
	}
}
