@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/open_sans/OpenSans.woff'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('./assets/font/open_sans/OpenSans.woff') format('woff'), /* Modern Browsers */
}

body {
  font-family: 'Open Sans';
}